<%= form_for(@pretty) do |f| %>

  <div class="field">
    <%= f.label "Hashtag:" %><br>
    <%= f.text_field :tag  %>
  </div>

  <div class="actions">
    <%= f.submit "Look it up!" %>
  </div>

  <% end %>

