<h1>Welcome to Insta-bam, a tiny hashtag app!</h1>

<div id="about">
  <h2>What is this?</h2>
  <p>Type in any hashtag you can dream of and ta-da! You will see the most recent 20 photos on instagram tagged with that hashtag. It's like magic. Refresh to make it real time!</p>
  <h2>Why?</h2>
  <p>Currently, Instagram doesn't provide a web application through which to search hashtags.</p>
  <h2>Who?</h2>
  <p>I'm Emma, a Ruby on Rails developer in the Great Northwest. Check me out over <%= link_to 'here', 'http://www.emmacodes.com' %></p>
  <h2>Whats instagram?</h2>
  <p>I love your innocence.</p>
</div>

<h2>Ready to get started? <%= link_to 'Search for a Hashtag!', new_pretty_path %></h2>




